/*提现记录*/

.post p {
	border-bottom: 1px dotted #e7e7e7;
	font-size: 12px;
	width: 100%;
	color: #868686;
}

.post p.head {
	border-bottom: 1px solid #e7e7e7;
	font-size: 12px;
	width: 100%;
	background: #f0f0f0;
	color: black;
}

.post p.head b.include {
	color: #494949;
}

.post p b {
	height: 55px;
	line-height: 55px;
	text-align: center;
	display: inline-block;
	font-weight: normal;
}

.post p b.data {
	width: 20%;
}

.post p b.master {
	width: 20%;
}

.post p b.need {
	width: 37%;
}

.post p b.include {
	width: 20%;
}