/*交易评价*/

.assess_manage {
	width: 100%;
	height: 50px;
	float: left;
	border-bottom: 1px solid #24AA75;
}

.clickColor {
	background: #24AA75;
	color: white;
}

.assess_manage li {
	float: left;
	margin-right: 10px;
	height: 50px;
	line-height: 50px;
	width: 160px;
	font-size: 17px;
	text-align: center;
	cursor: pointer;
}

.appraise {
	position: absolute;
	width: 895px;
}

.appraise ul.second {
	overflow: hidden;
	font-size: 14px;
	color: #565455;
	height: 45px;
	line-height: 45px;
	padding: 0 30px 0 30px;
	background: #ececec;
}

.appraise ul.second li,
.appraise ul.second p {
	display: inline-block;
}

.appraise ul.second li {
	width: 80px;
	text-align: center;
}

.appraise ul.second input {
	height: 13px;
}

.appraise ul.second p {
	float: right;
}

.appraise ul.second p b {
	margin: 0 0 0 30px;
	font-weight: normal;
}

.tu {
	overflow: hidden;
	padding: 25px 0 12px 23px;
	border-bottom: 1px dotted #e6e6e6;
}

.tu img,
.tu span {
	display: inline-block;
	float: left;
}

.tu span {
	font-size: 12px;
	padding: 0 58px 0 24px;
	width: 83%;
}

.tu span li {
	display: inline-block;
	width: 100%;
	line-height: 30px;
}

.tu span li b {
	margin: 0 2em 0 0;
	display: inline-block;
}

.tu span li p {
	float: right;
}