/*雇主信息  */

.guzhuInfo {
	float: left;
	width: 900px;
}

.padding {
	margin: 30px;
}

.padding h2 {
	color: #68C7A1;
	margin-bottom: 10px;
}


/*数据信息*/

.data_info {
	float: left;
	width: 100%;
	padding: 10px 0px;
}

.data_info img {
	width: 60px;
	height: 60px;
}

.data_info a {
	color: #01A161;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.data_info span {
	float: left;
	width: 85px;
	text-align: right;
}

.data_info button {
	width: 100px;
	height: 25px;
	margin-left: 85px;
	background: #01A161;
	border: 0px;
	color: white;
	border-radius: 3px;
}

.data_info select {
	margin-right: 10px;
	height: 25px;
	line-height: 25px;
}

.sex {
	height: 12px;
	width: 20px;
}
.fileUp{
	position: relative;
}
#headIMGT{
	margin-bottom: 20px;
}
#file{
width: 89px;
    margin: 0px;
    padding: 0px;
    height: 30px;
    padding-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    border-radius: 0px;
    border: 0px;
    position: absolute;
    left: 70px;
    top: 10px;
}

