/*雇主信息  */
.work{
	    float: left;
    margin: 20px 0px;
}
.data_info {
	float: left;
	width: 100%;
	padding: 15px 0px;
}

.data_info img {
	width: 60px;
	height: 60px;
}

.data_info a {
	color: #01A161;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.data_info span {
	float: left;
}

.data_info button {
	width: 100px;
	height: 25px;
	margin-left: 70px;
	background: #01A161;
	border: 0px;
	color: white;
	border-radius: 3px;
}

.data_info input,
.data_info textarea {
	padding-left: 10px;
}

.work_old {
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: #01A161;
}

.work_old ul li {
	width: 20%;
	float: left;
	font-size: 12px;
}