* {
	padding: 0px;
	margin: 0px auto;
}
ul{
	margin-bottom:0px;
}
ul li {
	list-style: none;
}
em{
	font-style: normal;
}
a {
	text-decoration: none;
}

body {
	font-size: 15px;
	font-family: "微软雅黑";
	background: #EEEEEE;
}
input{
	margin: 0px;
	padding: 0px;
	height: 30px;
	padding-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	border-radius:5px;
	border: 1px solid #CCCCCC;
}

/*大框框 */

.bigBox {
	width: 1200px;
	background: #FFFFFF;
	overflow: hidden;
}


/*导航  框框内  上*/

.headNav {
	overflow: hidden;
	width: 100%;
	background: #454D50;
	font-size: 15px;
}


/*导航  li 的样式*/
.headNav ul{
	overflow: hidden;
}
.headNav ul li {
	text-align: center;
	float: left;
	width: 10%;
	height: 60px;
	line-height: 60px;
}

.headNav ul li a {
	color: white;
}

.headNav ul .li_gz {
	width: 215px;
	background: #4A89DC;
	font-size: 15px;
}

.headNav ul .li_fws {
	float: right;
	font-size: 12px;
}


/*内容框框*/

.con {
	width: 100%;
	float: left;
	background: white;
}


/*测边栏  个人的资料点击 链接*/

.sidebar {
	float: left;
	width: 214px;
	height: 1320px;
	text-align: center;
	border-right: 1px solid #E7E7E7;
}

.sidebar h4 {
	width: 60%;
	padding-top: 20px;
	text-align: left;
	padding-bottom: 10px;
}

.sidebar h4 a {
	color: #4B89DC;
	font-size: 14px;
}

.sidebar ul li {
	text-align: left;
	width: 60%;
	height: 25px;
	line-height: 25px;
}

.sidebar ul li a {
	color: black;
	font-size: 13px;
}

.sidebar ul li a:hover {
	color: #4B89DC;
}


/*内容里 标题*/

.guzhuInfo {
	float: left;
	width: 985px;
}

.padding {
	margin: 30px 45px;
	overflow: hidden;
}

.padding h2 {
	color: #55B793;
	padding-bottom: 20px;
	font-weight: normal;
}