#login{
	background: url(../img/bg.png) no-repeat center #020204;
}
.login{
	width: 1200px; margin: 0 auto;height: 600px; padding-top: 1px;
}
.loginBox{
	width: 306px; margin: 8% 0 0 0; float: right; border-radius: 6px; background: white; padding: 0 0 3% 0; position: relative;
}
.loginBox strong{
	position: absolute; top: 57%; left: 9%; font-weight: normal; color: red; font-size: 9px;
}
.loginBox b{
	color: white; font-size: 17px; background: #01a161; height: 86px; line-height: 86px;display: block;
	border-radius: 6px 6px 0 0; text-indent: 2em;
}
.loginBox ul.account{
	text-align: center;
}	
.loginBox ul.account input:first-child{
	margin: 22px 0 0 0;
}
.loginBox ul.account input{
	width: 250px; height: 40px; border-radius: 4px; margin: 14px 0 0 0; border: 1px solid #cacaca; text-indent: 1em;
}
.checkbox{
	overflow: hidden; margin: 9% 0 0 0;
}
.checkbox input,.checkbox p{
	float: left;
}
.checkbox input{
	margin: 0.4em 0 0 10%;
}
.checkbox p{
	margin: 0.3em 0 0 0.3em; font-size: 11px; color: #888888;
}
.checkbox a{
	float: right; font-size: 11px; color: #888888; margin: 0.2em 2.1em 0 0;
}
.submit{
	text-align: center;
}
.submit input{
	width: 256px; height: 40px; background: #01a161; color: white; border-radius: 4px; margin: 1em 0 0 0; border: none;
}
.submit a{
	font-size: 11px; color: #01a161; margin: 1em 2em 0 0; float: right;
}









































