/*基本信息*/

#basicInfo {
	background: #efefef;
}

.basicInfo {
	width: 1200px;
	margin: 0 auto;
	padding-top: 1px;
	overflow: hidden;
}

.left {
	width: 700px;
	float: left;
}

.left p {
	font-size: 24px;
	margin: 10% 0 0 0;
}

.basicInfo span {
	display: block;
	margin: 26px 0;
	font-size: 14px;
}

.basicInfo span input,
.basicInfo span select {
	width: 354px;
	height: 44px;
	border-radius: 4px;
	border: solid 1px #009f67;
	padding-left: 10px;
	text-indent: 0;
}

.basicInfo span#role {
	margin: 50px 0 0 0;
}

.basicInfo span select {
	margin: 0 0 0 48px;
	width: 366px;
}

.basicInfo span #put1,
.basicInfo span #put5 {
	margin: 0 0 0 34px;
}

.basicInfo span #put5 {
	width: 202px;
}

.basicInfo span .send {
	margin: 0 18.1em 0 0;
	background: #01a161;
	border-radius: 3px;
	width: 129px;
	height: 45px;
	display: block;
	text-align: center;
	line-height: 45px;
	color: white;
	float: right;
	cursor: pointer;
}

.basicInfo span #put2,
.basicInfo span #put3,
.basicInfo span #put4 {
	margin: 0 0 0 20px;
}

.basicInfo span #put6 {
	width: 14px;
	height: 14px;
	margin: 0 0 0 6em;
}

.basicInfo span #put7 {
	width: 257px;
	height: 41px;
	background: #01a161;
	color: white;
	border: none;
	margin: 0 0 0 6em;
}


/*右边*/

.right {
	width: 400px;
	height: 437px;
	border-left: solid 1px #bebebe;
	float: right;
	margin: 9.1em -2em 0 0;
}

.right p {
	color: #8e8e8e;
	font-size: 12px;
	margin: 2em 0 0 10em;
}

.right p a {
	color: #0c9c69
}

.right input {
	width: 295px;
	height: 44px;
	border: 1px solid #0c9c69;
	background: white;
	color: #0c9c69;
	border-radius: 4px;
	margin: 1em 0 0 2.2em;
	text-indent: 0;
}