div.returnG{
	width: 60%; height: 60%; background: black; position: absolute; top: 0; left: 0; display: none;opacity: 0.7;
	padding: 8% 20% 20% 20%;
}
div.returnG b{
	display: block; padding: 10px; color: white; cursor: pointer;
}
em{
	font-style: normal;
}
.employer{
	overflow: hidden; border-bottom: solid 1px #ededed; padding: 0 0 32px 0;
}
.employer img,.employer span{
	float: left; display: block;
}
.employer img{
	width: 72px; height: 72px;
}
.employer span{
	margin: 0 0 0 1em; width: 88%;
}
.employer span h3{
	font-size: 24px; color: #5a5859; margin: 0 0 0.5em 0; height: 26px;
}
.employer span b{
	float: left; 
}
.employer span b.trusShip{
	width: 46px; height: 29px; background: #01a161; color: white; line-height: 29px; text-align: center; font-size: 14px;
}
.employer span b.money{
	width: 90px; height: 27px; line-height: 27px; color: #01a161; background: white; text-align: center; font-size: 14px; border: 1px solid #01a161;
}
.employer span p{
	float: right; font-size: 12px; color: #949494; line-height: 15px;
}

.concreteIssue{
	padding: 0 0 2.5em 0;
}
.concreteIssue img{
	
}
.concreteIssue span{
	display: block; margin: 1%;
}
.concreteIssue h4{
	margin: 1em 0 0.5em 0;
}

.concreteInfo{
	width: ; height: 45px; background: #efeff1; border-top: 1px dotted #d5d5d7; border-bottom: 1px dotted #d5d5d7; 
	line-height: 45px; overflow: hidden;
}
.concreteInfo .first{
	float: left;
}
.concreteInfo b{
	float: left; font-size: 9px; color: #626264; margin: 0 1em 0 0;
}
.concreteInfo .first b.data{
	background: url(../img/icon3.png) no-repeat 1px -2.92em; text-indent: 2.4em;
}
.concreteInfo .first b.address{
	background: url(../img/icon3.png) no-repeat 1px -6.4em; text-indent: 2.4em;
}
.concreteInfo .last{
	float: right;
}
.concreteInfo .last b.collect{
	background: url(../img/icon3.png) no-repeat 1px -10.2em; text-indent: 2.4em;
}
.concreteInfo .last a {
	width: 17px;
	height: 17px;
	display: block;
	background: url(../img/icon3.png) no-repeat;
	float: left;
	background-position-y: -0.7em;
	margin: 0.9em 10px 0 0;
}
.concreteInfo .last a.icon1 {
	background-position-x: 2%;
}

.concreteInfo .last a.icon2 {
	background-position-x: -39px;
}

.concreteInfo .last a.icon3 {
	background-position-x: -61px;
}

.concreteInfo .last a.icon4 {
	background-position-x: -82px;
}

.concreteInfo .last a.icon5 {
	background-position-x: -103px;
}

.concreteInfo .last a.icon6 {
	background-position-x: -125px;
}

.not{
	text-align: center;
}
.not b,.not a{
	display: block;
}
.not b{
	width: 130px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    margin-right: 2%;
    border: solid 1px #00a263;
    cursor: pointer;
}
.not b.active{
	background: #00a263;color: white;
}
.not b.succeed{
	background: #009F5F; color: white;
}
.not b.succeed a{
	color: white;  font-size: 18px
}
.not a{
	color: #00a162; font-size: 14px; 
}
.not a.time{
	color: black;
}

.robForm{
	margin: 10em 0 0 0;
}
.robForm span{
	display: block; overflow: hidden; padding: 1em 0 1em 0; border-bottom: 1px dotted #d6d6d6; border-top: 1px double #d6d6d6;
	margin: 1em 0 0 0;
}
.robForm span img,.robForm span div{
	float: left;
}
.robForm span img{
	margin: 0 1em 0 0;
}
.robForm span div{
	
}
.robForm span div p.one{
	overflow: hidden; margin: 0 0 2em 0;
}
.robForm span div p.one b{
	float: left; margin: 0 0.5em 0 0;
}
.robForm span div p.one b:first-child{
	font-size: 14px; color: #5c5a5b;
}
.robForm span div p.one b:last-child{
	font-size: 12px; color: white; width: 61px; height: 22px; background: #01a161; text-align: center; line-height: 22px; 
	border-radius: 2px; 
}
.robForm span div p.two{
	font-size: 12px; color: #979797;  overflow: hidden;
}
.robForm span div p.two b{
	margin: 0 6.5em 0 0; float: left;
}	
.robForm span div.sign{
	width: 94px; height: 94px; border-radius: 100%; text-align: center; font-size: 20px; color: #00a15f; 
	background: white; border: 1px solid #00a15f;line-height: 1.1em; float: right;
}
ul.returnJob{
	width: 99%; border: solid 1px #d0d0d0; padding: 1%; margin-top: 3%; display: none;
}
ul.returnJob li{
	width: 96%; border: solid 2px #878787; border-radius: 4px;padding: 2%; margin: 0 auto; margin-bottom: 2%;
}
ul.returnJob p{
	
}



