em{
	font-style: normal; color: red;
}

#sendList{
	background: #f4f4f4; padding: 0 0 6% 0;
}
.iconSe {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	color: #3ec1e2;
	padding: 4em 0 0 0;
}

.iconSe p {
	display: block;
	margin: 3% 0 0 0;
	font-weight: 400;
	color: black;
}

.iconSe p b {
	color: #c9c9c9;
	text-indent: 2em;
	display: inline-block;
	font-weight: 400;
}
/**/
.lave{
	width: 300px; height: ; margin: 0 auto; display: block; font-size: 22px; text-align: center;
}
.lave p{
	font-size: 22px;
}
.lave p.cancel{
	width: 156px; height: 57px; border: solid 1px #00a263; line-height: 57px;font-size: 20px; margin: 100px auto 0;
}

#sendList span{
	display: block; margin: 4% auto 2%; overflow: hidden; height: 290px; width: 1200px; 
}
div.bigBox{
	height: 256px;
}
div.bigBox ul{
	display: block; text-align: center; position: relative; margin: 28px; float: left; 
}
div.info{
	position: absolute; left: 0; top: 0; background: black; opacity: 0.7; color: white; border-radius: 100%; 
	display: none; width: 190px; height: 190px;
}
#sendList span ul:hover>div.info{
	display: block;
}
div.info p{
	line-height: 22px;
}
div.info p.one{
	margin-top: 30%;
}
div.bigBox{
	width: 50000px;
}
#sendList ul img,
#sendList ul div.info{
	width: 212px;
	height: 212px;
	border-radius: 100%;
}

#sendList ul:nth-child(5n+1) img,
#sendList ul:nth-child(5n+5) img,
#sendList ul:nth-child(5n+1) div.info,
#sendList ul:nth-child(5n+5) div.info{
	width: 162px;
	height: 162px;
}
#sendList ul:nth-child(5n+2) img,
#sendList ul:nth-child(5n+4) img,
#sendList ul:nth-child(5n+2) div.info,
#sendList ul:nth-child(5n+4) div.info{
	width: 192px;
	height: 192px;
}
#sendList ul img{
	display: block;
}