<link href="css/makeDemand.css" rel="stylesheet" media="screen">

<body>
	<div id="makeDemand">
		<div id="makeDem">
			<div class="makeDem">
				<p class="img">
					<img src="img/loadingcreate.png" />
				</p>
				<p class="title">
					<b>标题：</b><input class="title" type="text" v-model="uDemand.demandTitle">
				</p>
				<p class="description">
					<b>描述：</b><textarea placeholder="请输入您的需求描述..." v-model="uDemand.demanDesc" style="padding: 20px;"></textarea>
				</p>
				<p class="number">
					<b>数量：</b>
					<input class="number" type="number" class="imgNumber" value="1" v-model="uDemand.imgNumber"/>
					<b class="danjia">单价：</b>
					<!--<input class="number" type="number" v-model="" placeholder="10元/张" />-->
					<select class="imgPrice">
						<option value="10">10元/张</option>
						<option value="20">20元/张</option>
						<option value="30">30元/张</option>
					</select>
				</p>
				<p class="price">
					<b>价格：</b><input disabled="disabled" class="price" value="10" type="text" v-model="uDemand.totalPrice">
					<input class="check" type="checkbox" value="1" v-model="uDemand.state" />
					<b class="jiaji"> 加急</b>
					<em>加急:12小时处理</em>
					<em>常规:72小时处理</em>
				</p>
				<p class="demand">
					<b>需求：</b><strong class="training" data-xiuitu="1">修图</strong><strong class="composition" data-xiuitu="2">排版</strong>
				</p>
				<p class="style">
					<b>风格：</b>
					<strong class="active" data-styleid="1">韩式</strong><strong data-styleid="2">欧式</strong>
					<strong data-styleid="3">中式</strong><strong data-styleid="4">复古</strong>
					<strong data-styleid="5">日式</strong><strong data-styleid="6">美式</strong>
					<strong data-styleid="7">波普</strong><strong data-styleid="8">定制</strong>
						<em>注:最多可选择两项</em>
				</p>
				<p class="sort">
					<input type="radio" name="design"  value="0" v-model="uDemand.serviceType" checked="checked"/><b>个人设置</b>
					<input type="radio" name="design" value="1" v-model="uDemand.serviceType" /><b>工作室设计</b>
				</p>
				<!--<p class="perfection"><a href="iamHeadwaiter/payMoney.html"><b class="perfection">建单完成</b></a></p>-->
				<p class="perfection"><b class="perfection" v-on:click="itsok">建单完成</b></p>
			</div>
		</div>
	</div>

</body>
<script src="js/makeDemand.js" type="text/javascript"></script>