<link rel="stylesheet" type="text/css" href="css/myHeadwaSet.css" />
<!--css 公共部份  侧边栏  头部-->
<link rel="stylesheet" type="text/css" href="css/leftSidCen.css" />
<link rel="stylesheet" type="text/css" href="css/myHeadwaCenter.css" />
<!--公共部份  侧边栏  左-->

<!--大框框包裹类容-->
<div class="bigBox">
	<!--内容  头部导航-->
<!-- Modal -->		
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
       	  确定取消收藏吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button v-on:click="CancelColl" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>	
	<div class="headNav"></div>
	<!--主体内容  雇主的各种信息  侧边栏-->
	<div class="con">
		<!--侧边栏-->
		<div class="sideBar">
			<dl>
				<img v-bind:src="thisSeInfo.headImg" />
				<dd>
					<b>{{thisSeInfo.nickName}}</b>
					<p>{{thisSeInfo.income}}星级</p>
				</dd>
			</dl>
			<span>
				<p>收入：<b>￥{{thisSeInfo.income}}</b></p>
				<p>支出：￥{{thisSeInfo.expend}}</p>
				<p>资产：<b>￥{{thisSeInfo.income}}</b><b class="chongzhi"><a href="#">充值</a>&nbsp;|&nbsp;<a href="iamHeadwaiter/makeMoney.html">提现</a></b></p>
				<!--<p class="szxx"><b><a href="#">查看收支详细</a></b></p>-->
			</span>
			<ul class="ul">
				<!--个人资料-->
				<h4><a href="javascript:;">交易管理</a></h4>
				<ul>
					<li><a data-yy='0' class="active" href="javascript:;">我的订单</a></li>
					<li><a data-yy='1' href="javascript:;">评价管理</a></li>
					<li><a data-yy='2' href="javascript:;">收支明细</a></li>
					<li><a data-yy='3' href="javascript:;">充值记录</a></li>
					<li><a data-yy='4' href="javascript:;">提现记录</a></li>
					<li><a data-yy='5' href="javascript:;">我的收藏</a></li>
				</ul>
				<h4><a href="javascript:;">店铺管理</a></h4>
				<!--账号绑定-->
				<ul>
					<li><a data-yy='6' href="javascript:;">案例管理</a></li>
					<li><a data-yy='7' href="javascript:;">自动评价</a></li>
				</ul>
				<h4><a href="javascript:;">交易保障</a></h4>
				<ul>
					<li><a data-yy='8' href="javascript:;">退款管理</a></li>
					<li><a data-yy='9' href="javascript:;">举报管理</a></li>
				</ul>
			</ul>
		</div>
		<!--雇主的基本信息-->
		<div class="headwaiterInfo">
			<div class="myOrdain">
				<h3>我的订单</h3>
				<ul v-for="waitMakeMsgs in waitMakeMsgs" class="underWay">
					<li class="money">
						<b>￥{{waitMakeMsgs.totalPrice}}</b>
						<p demandId="{{waitMakeMsgs.demandId}}" v-on:click="jump">{{waitMakeMsgs.demandTitle}}</p>
						<b class="yesNo">
							<a v-on:click="yesNo" demandId="{{waitMakeMsgs.demandId}}" name="yes" class="yes" href="javascript:;">接单</a>
							<a v-on:click="yesNo" demandId="{{waitMakeMsgs.demandId}}" name="no" class="no" href="javascript:;">拒单</a>
						</b>
					</li>
					<li class="main">
						<p>{{waitMakeMsgs.demandDesc}}</p>
						<p class="liulan">{{waitMakeMsgs.pv}}浏览&nbsp;|&nbsp;比稿</p>
						<b style="color: #6ECDAA;">{{waitMakeMsgs.robState}}</b>
					</li>
				</ul>
			</div>
			<div class="assess" id="assess">
				<h3>评价管理</h3>
				<div class="show_evaluate">
					<div class="show_head">
						<div class="show_pad">
							<h5>店铺综合评价</h5>
							<div class="show_ceter">
								<ul>
									<li>完成质量</li>
									<li>工作速度</li>
									<li>服务态度</li>
								</ul>
								<ul>
									<li><span>5.00</span>分</li>
									<li><span>5.00</span>分</li>
									<li><span>5.00</span>分</li>
								</ul>
							</div>
						</div>

					</div>
					<div class="show_head">
						<div class="show_pad">
							<h5>服务商评价展示</h5>
							<div class="show_ceter">
								<ul>
									<li><img src="img/head3.png" /><strong>好评</strong></li>
									<li><img src="img/head1.png" /><strong>中评</strong></li>
									<li><img src="img/head2.png" /><strong>差评</strong></li>
								</ul>
								<ul>
									<li><span>24</span></li>
									<li><span>50</span></li>
									<li><span>5</span></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<div class="appraise">
					<ul class="second">
						<li>雇主评价&nbsp;&nbsp;&nbsp;|</li>
						<li><input type="radio" name="assess" id="" value="" />好评</li>
						<li><input type="radio" name="assess" id="" value="" />中评</li>
						<li><input type="radio" name="assess" id="" value="" />差评</li>
						<p><b>查看交易评价规则</b></p>
					</ul>
					<ul class="tu" v-for="commentIfon in commentIfon">
						<img src="modules/iamHeadwaiter/img/header5.png" />
						<span>
							<li><b>{{commentIfon.employerName}}</b><b>婚纱摄影修图，要求精细，无明显错误</b><b>成交价格：800元</b><p>{{commentIfon.createTime}}</p></li>
							<li class="pingjia">评价：{{commentIfon.commentBody}} <strong data-toggle="modal" data-target="#myModal">我要解释</strong></li>
						</span>
					</ul>
				</div>
				<!--模态框-->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">回复评价</h4>
							</div>
							<div class="modal-body" style="text-align: center;">
								<textarea  placeholder="123" rows="10" cols="50" style="padding: 10px;">
								</textarea>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary">确认</button>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="record">
				<h3>收支明细</h3>
				<p class="head">
					<b class="master">流水号</b>
					<b class="data">时间</b>
					<b class="need">需求</b>
					<b class="include">金额（元）</b>
					<b class="payWay">收支渠道</b>
				</p>
				<p>
					<b class="master">106463</b>
					<b class="data">2016-03-25 22:00:00</b>
					<b class="need">婚纱照片样本修图，要求精细，无明显错误</b>
					<b class="include">5888.00</b>
					<b class="payWay">易极付</b>
				</p>
				<p>
					<b class="master">106463</b>
					<b class="data">2016-03-25 22:00:00</b>
					<b class="need">婚纱照片样本修图，要求精细，无明显错误</b>
					<b class="include">5888.00</b>
					<b class="payWay">易极付</b>
				</p>
			</div>
			<div class="full">
				<h3>充值记录</h3>
				<p class="head">
					<b class="master">流水号</b>
					<b class="data">时间</b>
					<b class="need">需求</b>
					<b class="include">金额（元）</b>
					<b class="payWay">收支渠道</b>
				</p>
				<p>
					<b class="master">106463</b>
					<b class="data">2016-03-25 22:00:00</b>
					<b class="need">婚纱照片样本修图，要求精细，无明显错误</b>
					<b class="include">5888.00</b>
					<b class="payWay">易极付</b>
				</p>
				<p>
					<b class="master">106463</b>
					<b class="data">2016-03-25 22:00:00</b>
					<b class="need">婚纱照片样本修图，要求精细，无明显错误</b>
					<b class="include">5888.00</b>
					<b class="payWay">易极付</b>
				</p>
			</div>
			<div class="post">
				<h3>提现记录</h3>
				<p class="head">
					<b class="data">时间</b>
					<b class="master">流水号</b>
					<b class="need">银行</b>
					<b class="include">金额（元）</b>
				</p>
				<p>
					<b class="data">2016-03-25 22:00:00</b>
					<b class="master">106463</b>
					<b class="need">中国建设银行 尾号8569</b>
					<b class="include">5888.00</b>
				</p>
				<p>
					<b class="data">2016-03-25 22:00:00</b>
					<b class="master">106463</b>
					<b class="need">中国建设银行 尾号8569</b>
					<b class="include">5888.00</b>
				</p>
			</div>
			<div class="myCollect">
				
				<h3>我的收藏</h3>
				<ul v-for="msgCollect in msgCollects" class="underWay">
					<span>
						<li class="money">
							<b>￥1050.00&nbsp;&nbsp;&nbsp;</b>
							<p>{{msgCollect.produName}}</p>
						</li>
						<li class="main">
							<p>{{msgCollect.demandDesc}}</p>
						</li>
					</span>
					<span data-toggle="modal" data-target="#myModal" class="shoucang">取消收藏</span>
				</ul>
			</div>
			<div class="caseAdmin">
				<span>
					<b>案例管理</b><b>添加案例</b>
				</span>
				<p class="head">
					<b class="master">s </b>
					<b class="data">案例信息</b>
					<b class="need">费用</b>
					<b class="include">图片数</b>
					<b class="payWay">操作</b>
				</p>
				<p class="main">
					<b class="master"><input type="checkbox" /></b>
					<b class="data">ss<img src=""/ alt=""></b>
					<b class="need">婚纱照片样本修图，要求精细，无明显错误</b>
					<b class="payWay">1</b>
					<b class="include">编辑案例</b>
				</p>
				<p class="main">
					<b class="master"><input type="checkbox" /></b>
					<b class="data">ss<img src=""/ alt=""></b>
					<b class="need">婚纱照片样本修图，要求精细，无明显错误</b>
					<b class="payWay">1</b>
					<b class="include">编辑案例</b>
				</p>
				<p class="delete">
					<b class="master"><input type="checkbox" name="" id="" value="" /></b>
					<b class="data">全选</b>
					<b class="need">删除案例</b>
				</p>
			</div>
			<div class="autoAssess">
				<h3>自动评价</h3>
				<form action="#">
					<ul>
						评价开关：&nbsp;&nbsp;&nbsp;&nbsp;<input name="switch" type="radio" />开启<input name="switch" type="radio" />开启
					</ul>
					<ul>
						评价方式：&nbsp;&nbsp;&nbsp;&nbsp;<input name="switch" type="radio" />雇主开启后7天自动评价
					</ul>
					<ul class="pingjia">
						<p>评价内容：</p>&nbsp;&nbsp;&nbsp;&nbsp;<textarea></textarea>
					</ul>
					<input class="submit" type="button" value="保存" />
				</form>
			</div>
			<div class="backMoney">
				<h3>退款管理</h3>
				<p class="head">
					<b class="master">退款编号</b>
					<b class="need">需求</b>
					<b class="employer">雇主</b>
					<b class="include">交易赏金</b>
					<b class="returnM">退款金额</b>
					<b class="data">申请时间</b>
					<b class="returnS">退款状态</b>
				</p>
				<p>
					<b class="master">106463</b>
					<b class="need">需求号：666666</b>
					<b class="employer">品尚摄影中心</b>
					<b class="include">5888.00</b>
					<b class="returnM">8888.00</b>
					<b class="data">2016-03-06</b>
					<b class="returnS">易极付</b>
				</p>
			</div>
			<div class="reportAdmin">
				<h3>我的举报</h3>
				<ul>
					<li class="active">我发起的举报</li>
					<li>我收到的举报</li>
				</ul>
				<p class="head">
					<b class="master">退款编号</b>
					<b class="need">需求</b>
					<b class="employer">雇主</b>
					<b class="data">申请时间</b>
					<b class="returnS">退款状态</b>
				</p>
				<p>
					<b class="master">106463</b>
					<b class="need">需求号：666666</b>
					<b class="employer">品尚摄影中心</b>
					<b class="data">2016-03-06</b>
					<b class="returnS">判定成立，支付1500，退款0</b>
				</p>
			</div>
			<div class="repairCase">
				<h3>案例添加</h3>
				<form action="#">
					<div class="form">
						<ul>
							<li>案例标题</li> <input type="text" name="" id="" value="" />
						</ul>
						<ul>
							<li>案例费用</li> <input type="text" name="" id="" value="" />
						</ul>
						<ul class="titlePage">
							<li>案例封面</li>
							<span id="">
						<img src="modules/iamHeadwaiter/img/header6.png"/>
						<li>
							<p>添加案例</p>
							<b>图片尺寸520*310，大小不得超过500KB</b>
						</li>
					</span>
						</ul>
						<ul class="plan">
							<li>案例方案</li> <textarea name="" rows="" cols=""></textarea>
						</ul>
						<ul class="picture">
							<li>案例图片</li>
							<span>
						<img src="modules/iamHeadwaiter/img/header6.png"/>
						<img src="modules/iamHeadwaiter/img/header6.png"/>
						<p>最多可上传15张案例图片</p>
						<p class="add">继续添加</p>
					</span>
						</ul>
						<ul>
							<li>客户名称</li><input type="text" name="" id="" value="" />
						</ul>
						<input class="submit" type="button" value="发布" />
					</div>
				</form>
			</div>
		</div>
		<div class="addCase">
			<h3>案例添加</h3>
			<div class="form">
				<form action="#">
					<ul>
						<li>案例标题</li> <input type="text" name="" id="" value="" />
					</ul>
					<ul>
						<li>案例费用</li> <input type="text" name="" id="" value="" />
					</ul>
					<ul class="titlePage">
						<li>案例封面</li>
						<span id="">
							<img src="modules/iamHeadwaiter/img/header6.png"/>
							<li>
								<p>添加案例</p>
								<b>图片尺寸520*310，大小不得超过500KB</b>
							</li>
						</span>
					</ul>
					<ul class="plan">
						<li>案例方案</li> <textarea name="" rows="" cols=""></textarea>
					</ul>
					<ul class="picture">
						<li>案例图片</li>
						<span>
							<img src="modules/iamHeadwaiter/img/header6.png"/>
							<img src="modules/iamHeadwaiter/img/header6.png"/>
							<p>最多可上传15张案例图片</p>
							<p class="add">继续添加</p>
						</span>
					</ul>
					<ul>
						<li>客户名称</li><input type="text" name="" id="" value="" />
					</ul>
					<input class="submit" type="submit" value="发布" />
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="modules/iamHeadwaiter/myHeadwa/js/myHeadwaCenter.js"></script>