#appoSendSu{
	background: #f4f4f4;
}
.appoSendSu{
	width: 1200px; margin: 0 auto; text-align: center; padding: 120px 0 145px 0;
}
.appoSendSu img.head{
	width: 192px; height: 192px; border-radius: 100%;
}
.appoSendSu p{
	font-weight: bolder;
}
.appoSendSu p.succ{
	color: #d5104c; font-size: 18px; padding: 77px 0;
}
.appoSendSu p.join{
	color: black; font-size: 18px; padding: 1% 0;
}
.appoSendSu p.name{
	color: #d5104c; font-size: 18px;
}
.appoSendSu p.mainPage{
	color: black; font-size: 14px; padding: 1% 0 4% 0; font-weight: normal;
}
.appoSendSu p.wQuXiao{
	color: black; font-size: 20px;
}
.appoSendSu p.dengDai{
	color: black; font-size: 20px; padding: 5% 0 9% 0;
}
.appoSendSu p.quXiao{
	width: 109px; height: 36px; background: #00a263; line-height: 36px; color: white; display: inline-block;
}





