.guzhuInfo {
	float: left;
	width: 940px;
	padding: 30px;
}

.guzhuInfo div h2 {
	color: #0d9b5f;
    margin-bottom: 10px;
    font-weight: normal;  
    font-family: "黑体";
}
.data_info input{
	text-indent: 0;
}
/*基本信息*/

.basic {
	display: block;
}

.basic h2 {
	margin-bottom: 10px;
}
.basic p {
	line-height: 22px; display:block; color: #868686;
}
.basic .data_info {
	float: left;
	width: 100%;
	padding: 10px 0px;
}

.basic .data_info img {
	width: 60px;
	height: 60px;
}

.basic .data_info a {
	color: #68C7A1;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.basic .data_info span {
	float: left;
	width: 85px;
}
.basic .data_info span.header {
	line-height: 3em;
}

.basic .data_info button {
	width: 75px;
	height: 28px;
	margin-left: 85px;
	background: #01a161;
	border: 0px;
	color: white;
	border-radius: 3px;
}
.basic .data_info textarea{
	width: 500px; height: 140px; border-radius: 2px;
}
.basic .sex {
	width: 25px; height: 13px;
}


/*头像设置*/

.setHead {
	color: #C2C2C2;
	display: none;
}

.setHead img {
	padding: 20px 0px;
	padding-right: 70px;
}

.setHead p {
	font-size: 13px;
}

.setHead .upPicture p {
	padding: 5px 0px;
}


/*联系方式*/

.linkWay {
	display: none;
}

.linkWay .data_info {
	float: left;
	width: 100%;
	padding: 10px 0px;
}

.linkWay .data_info input{
	height: 30px;
}
.linkWay .data_info input.quhao{
	width: 74px;
}

.linkWay .data_info img {
	width: 60px;
	height: 60px;
}

.linkWay .data_info a {
	color: green;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.linkWay .data_info span {
	float: left;
	width: 85px;
}

.linkWay .data_info button {
	width: 100px;
	height: 25px;
	margin-left: 85px;
	background: green;
	border: 0px;
	color: white;
	border-radius: 3px;
}

.linkWay .sex {
	width: 25px;
}


/**/

.workExperience {
	display: none;
}

.workExperience .data_info {
	float: left;
	width: 100%;
	padding: 15px 0px;
}

.workExperience .data_info img {
	width: 60px;
	height: 60px;
}

.workExperience .data_info a {
	color: green;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.workExperience .data_info span {
	float: left;
	width: 110px;
}

.workExperience .data_info button {
	width: 100px;
	height: 25px;
	margin-left: 85px;
	background: green;
	border: 0px;
	color: white;
	border-radius: 3px;
}

.workExperience .data_info input,
.workExperience .data_info textarea {
	padding-left: 10px;
}
.workExperience .data_info input{
	width: 400px;
	height: 25px;
}
.workExperience .data_info input.sheyingshi{
	width: 200px;
}
.workExperience .data_info input.data1,.workExperience .data_info input.data2{
	width: 120px;
}

.workExperience .work_old {
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.workExperience .work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}

.workExperience .work_old ul li {
	width: 20%;
	float: left;
	font-size: 12px;
}


/*学习经历*/

.studyExperience {
	display: none;
}

.studyExperience .stady_old {
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.studyExperience .stady_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}

.studyExperience .stady_old ul li {
	width: 20%;
	float: left;
	font-size: 12px;
}

.studyExperience .data_info {
	float: left;
	width: 100%;
	padding: 15px 0px;
}
.studyExperience .data_info input{
	height: 30px;
}
.studyExperience .data_info input.school{
	width: 400px;
}
.studyExperience .data_info input.vocational {
	width: 260px;
}
.studyExperience .data_info input.data {
	width: 130px;
}

.studyExperience .data_info select{
	width: 130px; height: 25px;
}
.studyExperience .data_info img {
	width: 60px;
	height: 60px;
}

.studyExperience .data_info a {
	color: green;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.studyExperience .data_info span {
	float: left;
	width: 110px;
}

.studyExperience .data_info input,
.studyExperience .data_info textarea {
	padding-left: 10px;
}

.studyExperience .data_info button {
	width: 100px;
	height: 25px;
	margin-left: 110px;
	background: green;
	border: 0px;
	color: white;
	border-radius: 3px;
}


/*手机绑定*/

.setPhone {
	display: none;
}

.setPhone .work_old {
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.setPhone .work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}

.setPhone .work_old ul li {
	width: 20%;
	float: left;
	font-size: 12px;
}

.setPhone .shoujiBangding {
	height: 150px;
}

.setPhone .shoujiBangding span {
	padding-right: 10px;
	color: #42BB8D;
	font-size: 20px;
}

.setPhone .shoujiBangding span a {
	padding-right: 10px;
	color: #42BB8D;
}

.setPhone .shoujiBangding p {
	font-size: 16px;
	font-weight: 500;
}

.setPhone .serve {
	font-size: 13px;
	color: #C2C2C2;
}

.setPhone .serve li {
	padding-top: 10px;
}

.setPhone .serve ol {
	padding-left: 15px;
}


/*邮箱绑定*/

.setEmile {
	display: none;
}

.setEmile .work_old {
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.setEmile .work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}

.setEmile .work_old ul li {
	width: 20%;
	float: left;
	font-size: 12px;
}

.setEmile .shoujiBangding {
	height: 150px;
}

.setEmile .shoujiBangding span {
	padding-right: 10px;
	color: #42BB8D;
	font-size: 20px;
}

.setEmile .shoujiBangding span a {
	padding-right: 10px;
	color: #42BB8D;
}

.setEmile .shoujiBangding p {
	font-size: 16px;
	font-weight: 500;
}

.setEmile .serve {
	font-size: 13px;
	color: #C2C2C2;
}

.setEmile .serve li {
	padding-top: 10px;
}

.setEmile .serve ol {
	padding-left: 15px;
}


/*实名认证*/

.nameAtt {
	display: none;
}

.nameAtt .work_old {
	float: left;
	width: 100%;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}
.nameAtt .work_old ul{
	overflow: hidden;
}

.nameAtt .work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}

.nameAtt .work_old ul li {
	width: 32%;
	float: left;
	font-size: 12px;
	text-align: center;
	height: 70px;
	line-height: 70px;
	
}

.nameAtt .data_info button {
	width: 90px;
	height: 25px;
	background: #42BB8D;
	border: 0px;
	color: white;
	border-radius: 5px;
}

.nameAtt .data_info a {
	color: green;
	font-size: 12px;
	font-weight: 600;
	display: inline-block;
}

.nameAtt .data_info span {
	float: left;
	width: 120px;
	text-align: right;
}

.nameAtt .editP {
	clear: both;
	width: 100%;
	padding-top: 30px;
}
.nameAtt .attest{
	line-height: 6em;
}
.nameAtt .editP h5 {
	padding-bottom: 10px;
}

.nameAtt .editPp span {
	padding-bottom: 20px;
	color: #C2C2C2;
}

.nameAtt .editPp p {
	padding-bottom: 5px;
	font-size: 13px;
}


/*银行卡认证*/

.bankName {
	display: none;
}

.bankName .work_old {
	float: left;
	width: 100%;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.bankName .work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}
.bankName .work_old ul{
	overflow: hidden;
}
.bankName .work_old ul li {
	width: 32%;
	float: left;
	font-size: 12px;
	text-align: center;
	height: 70px;
	line-height: 70px;
	border-top: solid 4px gainsboro;
}
.bankName .work_old ul li.active {
	border-top: solid 4px #029159;
}
.bankName .shoujiBangding {
	height: 150px;
}

.bankName .shoujiBangding span {
	padding-right: 10px;
	color: #42BB8D;
}

.bankName .shoujiBangding p {
	font-size: 16px;
	font-weight: 500;
}

.bankName .data_info {
	float: left;
	width: 100%;
	padding: 25px 0px 10px 0px;
	font-size: 15px;
	line-height: 30px;
}

.bankName .data_info img {
	width: 60px;
	height: 60px;
}

.bankName .data_info a {
	color: green;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.bankName .data_info span {
	float: left;
	width: 80px;
	text-align: right;
}

.bankName .data_info button {
	width: 90px;
	height: 25px;
	background: #42BB8D;
	border: 0px;
	color: white;
	border-radius: 5px;
}

.bankName .data_info input {
	margin-left: 10px;
	width: 200px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}

.bankName .data_info .getCode {
	margin-left: 10px;
	height: 30px;
	width: 80px;
	background: #42BB8D;
}

.bankName .serve {
	font-size: 13px;
	color: #C2C2C2;
}

.bankName .serve li {
	padding-top: 10px;
}

.bankName .serve ol {
	padding-left: 15px;
}

.bankName .editP {
	float: left;
	width: 100%;
	padding-top: 30px;
}

.bankName .editP h5 {
	padding-bottom: 10px;
}

.bankName .editPp span {
	padding-bottom: 20px;
	color: #C2C2C2;
}

.bankName .editPp p {
	padding-bottom: 5px;
	font-size: 13px;
}
/*手机修改*/
.phoneEdit{
	display: none;
	overflow: hidden;
}
.phoneEdit h2 span{
	color: black;
	font-size: 18px;
}
.phoneEdit .work_old {
	float: left;
	width: 100%;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}
.phoneEdit .work_old ul{
	overflow: hidden;
}
.phoneEdit .work_old ul li {
    width: 25%;
    float: left;
    font-size: 12px;
    text-align: center;
    line-height: 70px;
    height: 70px;
    border-top: 4px solid gainsboro;
}
.phoneEdit .work_old ul li.active{
	 border-top: 4px solid #00a263;
}
.phoneEdit .work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}

.phoneEdit .shoujiBangding {
	height: 150px;
}

.phoneEdit .shoujiBangding span {
	padding-right: 10px;
	color: #42BB8D;
}

.phoneEdit .shoujiBangding p {
	font-size: 16px;
	font-weight: 500;
}

.phoneEdit .data_info {
	float: left;
	width: 100%;
	padding: 25px 0px 10px 0px;
	font-size: 15px;
	line-height: 30px;
}

.phoneEdit .data_info img {
	width: 60px;
	height: 60px;
}

.phoneEdit .data_info a {
	color: green;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.phoneEdit .data_info span {
	float: left;
	width: 91px;
	text-align: right;
}
.phoneEdit .data_info p.tel {
	color: #00a263;
}
.phoneEdit .data_info button {
	width: 75px;
	height: 30px;
	margin-left: 95px;
	background: #42BB8D;
	border: 0px;
	color: white;
	border-radius: 5px;
	line-height:30px;
	text-align: center;
}

.phoneEdit .data_info .getCode {
	margin-left: 10px;
	height: 30px;
	width: 80px;
	background: #42BB8D;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}

.phoneEdit .serve {
	font-size: 13px;
	color: #C2C2C2;
}

.phoneEdit .serve li {
	padding-top: 10px;
}

.phoneEdit .serve ol {
	padding-left: 15px;
}

.phoneEdit .editP {
	float: left;
	width: 100%;
	padding-top: 30px;
}

.phoneEdit .editP h5 {
	padding-bottom: 10px;
}

.phoneEdit .editPp {
	padding-bottom: 20px;
	color: #C2C2C2;
}

.phoneEdit .editPp p {
	padding-bottom: 5px; color: #4b4b4b;
}
/*邮箱修改*/
.emileEdit{
	display: none;
}
.emileEdit .work_old {
	float: left;
	width: 100%;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.emileEdit .work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}
.emileEdit .work_old ul{
	overflow: hidden;
}
.emileEdit .work_old ul li {
	width: 32%;
	float: left;
	font-size: 12px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	border-top: 4px solid gainsboro;
}
.emileEdit .work_old ul li.active {
	border-top: 4px solid #00a263;
}
.emileEdit .shoujiBangding {
	height: 150px;
}

.emileEdit .shoujiBangding span {
	padding-right: 10px;
	color: #42BB8D;
}

.emileEdit .shoujiBangding p {
	font-size: 16px;
	font-weight: 500;
}

.emileEdit .data_info {
	float: left;
	width: 100%;
	padding: 25px 0px 10px 0px;
	font-size: 15px;
	line-height: 30px;
}

.emileEdit .data_info img {
	width: 60px;
	height: 60px;
}

.emileEdit .data_info a {
	color: green;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.emileEdit .data_info span {
	float: left;
	width: 100px;
	text-align: right;
}

.emileEdit .data_info button {
	width: 90px;
	height: 25px;
	margin-left: 100px;
	background: #42BB8D;
	border: 0px;
	color: white;
	border-radius: 5px;
}

.emileEdit .data_info .getCode {
	margin-left: 10px;
	height: 30px;
	width: 80px;
	background: #42BB8D;
}

.emileEdit .serve {
	font-size: 13px;
	color: #C2C2C2;
}

.emileEdit .serve li {
	padding-top: 10px;
}

.emileEdit .serve ol {
	padding-left: 15px;
}

.emileEdit .editP {
	float: left;
	width: 100%;
	padding-top: 30px;
}

.emileEdit .editP h5 {
	padding-bottom: 10px;
}

.emileEdit .editPp span{
	padding-bottom: 20px;
	color: #C2C2C2;
}

.emileEdit .editPp p {
	padding-bottom: 5px;
	font-size: 13px;
}
/*实名认证审核*/
.check{
	display: none;
}
.check .right_work_mys {
	width: 160px;
	float: right;
}

.check .work_old {
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 15px 0px;
	border-bottom: 1px solid #F0F0F0;
}

.check .work_old a {
	margin-left: 10px;
	font-size: 12px;
	color: green;
}

.check .work_old ul li {
	width: 33.33%;
	float: left;
	font-size: 12px;
	text-align: center;
}

.check .shoujiBangding {
	height: 150px;
}

.check .shoujiBangding span {
	padding-right: 10px;
	color: #42BB8D;
}

.check .shoujiBangding p {
	font-size: 16px;
	font-weight: 500;
}

.check .data_info {
	float: left;
	width: 100%;
	padding: 25px 0px 10px 0px;
	font-size: 15px;
	line-height: 30px;
}

.check .data_info img {
	width: 60px;
	height: 60px;
}

.check .data_info a {
	color: green;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 600;
}

.check .data_info span {
	float: left;
	width: 80px;
	text-align: right;
}

.check .data_info button {
	width: 90px;
	height: 25px;
	background: #42BB8D;
	border: 0px;
	color: white;
	border-radius: 5px;
}

.check .data_info input {
	width: 200px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
.check .data_info em{
    font-style: normal;
    padding-left: 10px;
}

.check .data_info .getCode {
	margin-left: 10px;
	height: 30px;
	width: 80px;
	background: #42BB8D;
}

.check .serve {
	font-size: 13px;
	color: #C2C2C2;
}

.check .serve li {
	padding-top: 10px;
}

.check .serve ol {
	padding-left: 15px;
}

.check .editP {
	float: left;
	width: 100%;
	padding-top: 30px;
}

.check .editP h5 {
	padding-bottom: 10px;
}

.check .editPp span {
	padding-bottom: 20px;
	color: #C2C2C2;
}

.check .editPp p {
	padding-bottom: 5px;
	font-size: 13px;
}











