* {
	padding: 0px;
	margin: 0px auto;
}

body {
	background: #eee;
	font-family: "微软雅黑";
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}


/*外框的样式*/

.frame {
	width: 1200px;
	overflow: hidden;
}


/*外框  上部分的样式*/

.frame-top {
	float: left;
	width: 100%;
	height: 280px;
	margin-top: 20px;
}

.frame-top-left {
	float: left;
	width: 280px;
	height: 280px;
}

.frame-top-left img {
	width: 100%;
	height: 100%;
}

h4 img {
	width: 20px;
	height: 20px;
}

.frame-right {
	float: left;
	width: 920px;
	height: 280px;
}

.studio {
	height: 140px;
	background: #eee;
}

.studio h4 {
	padding: 20px 5px 5px 20px;
}

.studio span {
	font-size: 11px;
	margin-left: 20px;
	background: #4A89DC;
	color: white;
	padding: 2px 10px;
	border-radius: 5px;
}

.depict {
	font-size: 10px;
	height: 140px;
	background: #fff;
}

.depict p {
	padding: 20px 5px 15px 20px;
	line-height: 19px;
}

.depict span {
	font-size: 11px;
	margin-left: 20px;
}

.depict a {
	color: #4A89DC;
}


/*外框  类容部分*/

.frame-con {
	float: left;
	width: 100%;
	background: white;
}

.transac {
	height: 100px;
	background: white;
	margin: 0px 20px;
	border-bottom: 1px solid #4A89DC;
}

.transac a {
	background: #eee;
	height: 30px;
	display: inline-block;
	margin-top: 50px;
	line-height: 30px;
	font-size: 17px;
	color: #000;
	padding: 10px;
	width: 100px;
	text-align: center;
}

.transac a:hover {
	background: #4A89DC;
	color: #fff;
}


/*外框  类容部分   基本数据信息*/

.specialCon-info {
	margin-bottom: 50px;
}

.specialCon {
	padding: 20px;
}

.specialCon h4 {
	margin: 15px 0px;
}

.specialCon a {
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
	color: #4A89DC;
}

.specialCon p {
	font-size: 13px;
	line-height: 20px;
}