em {
	font-style: normal;
}

#seeOff {
	background: #f4f4f4;
}

.seeOff {
	width: 1200px;
	margin: 0 auto;
	padding: 120px 0 167px 0;
}

.seeOff>p {
	text-align: center;
}

.seeOff span {
	width: 300px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.seeOff span p {
	font-size: 18px;
	color: red;
	margin-bottom: 6%;
}

.seeOff span b {
	width: 118px;
	height: 39px;
	display: inline-block;
	text-align: center;
	line-height: 39px;
	border: solid 1px #00a263;
	margin-right: 14px;
	font-size: 18px;
	color: #00a263;
}

.seeOff span b.active {
	background: #00a263;
	color: white;
}

#console,
.wanTuImgC {
	max-height: 300px;
	overflow: overlay;
	margin-bottom: 15px;
	width: 100%;
}

#console img {
	float: left;
	width: 215px;
	height: 300px;
	margin: 10px;
}

#console ul,
.wanTuImgC ul {
	float: left;
	width: 270px;
	height: 35px;
	line-height: 35px;
	margin: 5px;
	overflow: hidden;
	border: 1px solid #649472;
}

#console ul li,
.wanTuImgC ul li {
	padding: 5px;
	overflow: hidden;
	text-align: center;
}

.upload_img {
	position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
	margin: 20px;
}

.upload_img input {
	text-align: center;
}

#file {
    position: absolute;
    top: 1px;
    left: 50%;
    width: 140px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.fail {
	overflow: hidden;
	width: 100%;
	padding: 20px 5px;
}

.fail ul li {
	text-align: center;
	list-style: none;
	width: 150px;
	height: 25px;
	line-height: 25px;
	float: left;
	overflow: hidden;
	background: white;
	margin-right: 5px;
}

.praP {
	font-size: 20px;
	color: #00A263;
	font-weight: bolder;
	margin: 10px;
}

.upImg {
	position: absolute;
	left: 50%;
	width: 140px;
	height: 40px;
	font-size: 19px;
	border-radius: 5px;
	border: 0px;
	background: #00A263;
	color: white;
	cursor: pointer;
}


/*遮罩层 开始*/

.progressBar {
	border: solid 2px #86A5AD;
}

.progressBar {
	background: white;
	display: block;
	width: 160px;
	height: 58px;
	top: 50%;
	left: 50%;
	margin-left: -74px;
	margin-top: -14px;
	padding: 10px 10px 10px 30px;
	text-align: left;
	line-height: 27px;
	font-weight: bold;
	position: fixed;
	z-index: 2001;
	border-radius: 10px;
}

.background {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	filter: alpha(opacity=40);
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	background-color: #666666;
}


/*遮罩层结束*/