.active{
	margin: 0 0 2em 0;
}
.active span form input.radio{
	width: 13px; height: 13px; margin: 0 0 0 1em;
}


.shop{
	width: 185px; height: ; border: 1px solid #dcdcdc; padding: 5px 5px 12px 5px; margin: 0 0.43em 35px 0.43em; float: left;
}
.shop .up{
	border-bottom: 1px solid #dfdfdf; text-align: right;
}
.shop .up p{
	font-size: 12px; color: #878787; text-align: left; margin: 5px 0 0.5em 0;
}
.shop .up b{
	font-size: 14px; color: #1fae78; 
}
.shop .down{
	overflow: hidden;
}
.shop .down h3{
	font-size: 12px; color: black; margin: 0.8em 0 0.8em 0;
}
.shop .down b{
	width: 60px; height: 22px; background: #009f5f; text-align: center; line-height: 22px; border-radius: 2px;
	font-size: 12px; color: white; display: block; float: left;
}
.shop .down a{
	width: 58px; height: 20px; background: #eeeeee; text-align: center; line-height: 22px; border-radius: 2px; 
	border: 1px solid #cecece; font-size: 12px; color: black;display: block; float: right;
}