<link rel="stylesheet" type="text/css" href="css/myHeadwaSet.css" />
<!--css 公共部份  侧边栏  头部-->
<link rel="stylesheet" type="text/css" href="css/left_Sidebar.css" />
<script src="js/upfile.js" type="text/javascript" charset="utf-8"></script>
<!--公共部份  侧边栏  左-->
<!--大框框包裹类容-->
<div style="margin-top: 25px;" class="bigBox">
	<!--内容  头部导航-->
	<div class="headNav"></div>
	<!--主体内容  雇主的各种信息  侧边栏-->
	<div class="con">
		<!--侧边栏-->
		<div class="sidebar">

		</div>
		<!--雇主的基本信息-->
		<div class="guzhuInfo">
			<!--挤20个像素-->
			<div class="basic ">
				<h2>基本信息</h2>
				<p>品尚良将工作室填写真实的资料方便大家了解</p>
				<p>（请不要在资料里留电话，QQ，网址，邮箱等联系方式，会导致你的资料无法通过审核）</p>
				<!--介绍部分  资料详情-->
				<div class="data_info">
					<span class="header">当前头像：</span><img id="touxiang" v-bind:src="thisPerInfo.headImg" />
					<input name="touxiang" v-on:change="upload" type="file" value="上传头像" />
				</div>
				<div class="data_info">
					<span>真实姓名：</span><input id="name" type="text" v-model="thisPerInfo.realName" /><b style="color: red;" id="name"></b>
				</div>
				<div class="data_info">
					<span>店铺昵称：</span><input id="dianpu" type="text" v-model="thisPerInfo.nickName" /><b style="color: red;" id="dianpu"></b>
				</div>
				<!--<div class="data_info">
					<span>生日：</span>
					<input class="data5" type="date" v-model="thisPerInfo.nickName" />
				</div>-->
				<div class="data_info">
					<span>店铺简介：</span><textarea id="jianjie" v-model="thisPerInfo.empDesc" rows="5" cols="37"></textarea><b style="color: red;" id="jianjie"></b>
				</div>
				<div class="">
					<!--介绍部分  资料详情-->
					<div class="data_info">
						<span>电子邮箱：</span><input id="eml" type="text" v-model="thisPerInfo.email" /><b style="color: red;" id="eml"></b>
					</div>
					<div class="data_info">
						<span>手机号码：</span><input id="tel" type="text" v-model="thisPerInfo.phone" /><b style="color: red;" id="tel"></b>
					</div>
					<!--<div class="data_info">
						<span>固定电话：</span>
						<input class="quhao" type="text" placeholder="区号" value="" />
						<input type="text" placeholder="电话" value="" />
					</div>-->
					<div class="data_info">
						<span>所在地：</span>
						<select v-on:click="getCity" class="select1" v-model="thisPerInfo.proviceName">
							<option selected="selected">{{thisPerInfo.proviceName}}</option>
							<option v-for="provshen in provshen" data-proid="{{provshen.id}}">{{provshen.fullname}}</option>
						</select>
						<select v-on:click="getCity" class="select2" v-model="thisPerInfo.areaName">
							<option selected="selected">{{thisPerInfo.areaName}}</option>
							<option  v-for="cityshi in cityshi"  data-citid="{{cityshi.id}}">{{cityshi.fullname}}</option>
						</select>
						<select v-on:click="getCity" class="select3" v-model="thisPerInfo.cityName">
							<option selected="selected">{{thisPerInfo.cityName}}</option>
							<option v-for="areaxian in areaxian" data-areid="{{areaxian.id}}">{{areaxian.fullname}}</option>
						</select>
						<b style="color: red;" id="select"></b>
					</div>
					<div class="data_info">
						<span>详细地址：</span>
						<input type="text" class="address" style="min-width: 300px;" v-model="thisPerInfo.address" /><b style="color: red;" id="address"></b>
					</div>
					<div class="data_info">
						<button name="basic" v-on:click="changeThSerInfo">保存</button>
					</div>
				</div>
			</div>

			<div class="nameAtt">
				<h2>实名认证</h2>
				<!--<div class="work_old">
					<ul>
						<li style="border-top: 4px solid rgb(66, 187, 141);">第一步：填写信息</li>
						<li style="border-top: 4px solid #eee;">第二步：审核资料</li>
						<li style="border-top: 4px solid #eee;">第三步：认证成功</li>
					</ul>
				</div>-->
				<div class="editP">
					<h5>实名认证成功后，您可以享有以下特权：</h5>
					<div class="editPp">
						<p>提升账户安全性：体现时银行卡开户必须与真实姓名相同，方可体现。</p>
					</div>
					<div class="editPp">
						<p>提升客户责任感：通过实名认证的用户更可能得到客户的认可。</p>
					</div>
				</div>
				<div class="attest">
					<span>选择认证的身份：</span>
					<input type="radio" name="sex" value="male" checked="checked" />个人
					<input type="radio" name="sex" value="female" />工作室
				</div>
				<div style="display: block;" class="check">
					<div class="data_info">
						<span>真实姓名：</span>
						<input v-model="thisPerInfo.realName" type="text" />
					</div>
					<div class="data_info">
						<span>证件原件：</span><img id="img1" v-bind:src="thisPerInfo.authPath1" />
						<input v-on:change="upload" id="file1" type="file" name="zhengmian"/>
						<em id="uP1" style="width: 170px;">证件的扫描或证件照片</em>
					</div>
					<div class="data_info">
						<span>证件背面：</span><img id="img2" v-bind:src="thisPerInfo.authPath" />
						<input v-on:change="upload" type="file" name="beimian"/>
						<em id="uP2" style="width: 170px;">证件背面的扫描或照片</em>
					</div>
					<div class="data_info">
						<button v-on:click="changeThSerInfo" name="trueName">立即认证</button>
					</div>
				</div>
			</div>
			<div class="bankName">
				<h2>银行卡认证</h2>
				<!--<div class="work_old">
					<ul>
						<li class="active">第一步
							：填写信息</li>
						<li>第二步：审核资料</li>
						<li>第三步：认证成功</li>
					</ul>
				</div>-->
				<div class="editP">
					<h5>银行卡认证成功后，您可以享有以下特权：</h5>
					<div class="editPp">
						<p>提升账户的收入：可将收入直接提现至银行卡。</p>
					</div>
					<div class="editPp">
						<p>提升客户责任感：通过实名认证的用户更可能得到客户的认可。</p>
					</div>
				</div>
				<div class="data_info">
					<span>持卡人：</span><input v-model="thisPerInfo.bankRealName" type="text" placeholder="张三" />
				</div>
				<div class="data_info">
					<span>银行：</span><input v-model="thisPerInfo.bankName" type="text" placeholder="建设" />
				</div>
				<div class="data_info">
					<span>银行卡号：</span><input v-model="thisPerInfo.bankCard" type="text" placeholder="110 **** 622" />
				</div>
				<div class="data_info">
					<button v-on:click="changeThSerInfo" name="bankName">保存</button>
				</div>
			</div>

			<div class="bankName">
				<h2>修改登录密码</h2>
			</div>
			<div class="phoneEdit">
				<h2>手机绑定<span>-手机号码修改</span></h2>
				<div class="work_old">
					<ul>
						<li class="active">第一步核：实手机号码</li>
						<li>第二步：输入新的手机号码</li>
						<li>第三步：验证新号码</li>
						<li>第四步：修改成功</li>
					</ul>
				</div>
				<p>修改手机前必须先核对您原手机的信息</p>
				<div class="data_info">
					<span>原手机号码：</span>
					<p class="tel">1838413***2</p>
				</div>
				<div class="data_info">
					<span>验证码：</span><input type="text" style="height: 30px;width: 90px;" /> <button class="getCode">获取验证码</button>
				</div>
				<div class="data_info">
					<span></span> <button>下一步</button>
				</div>
				<div class="editP">
					<h5>常见问题：</h5>
					<div class="editPp">
						<p>无法获取短信验证码怎么办？</p>
						<span>短信达到需要1-2分钟，弱你长时间未收到确认短信，建议您重验证码。</span>
					</div>
				</div>
			</div>
			<div class="emileEdit">
				<h2>邮箱绑定<span>-邮箱修改</span></h2>
				<div class="work_old">
					<ul>
						<li class="active">第一步核：验证原邮箱</li>
						<li>第二步：输入新的邮箱地址</li>
						<li>第三步：修改成功</li>
					</ul>
				</div>
				<p>修改邮箱前必须先验证原邮箱</p>
				<div class="data_info">
					<span>原邮箱地址：</span>51624***qq.com
				</div>
				<div class="data_info">
					<button class="getCode">发送验证信</button>
				</div>
				<div class="editP">
					<h5>常见问题：</h5>
					<div class="editPp">
						<p>邮件达到需要2-3分钟，弱你长时间未收到邮件，建议您检查邮件中的垃圾邮件或者重发验证信。</p>
					</div>
					<div class="editPp">
						<p>若原邮箱已无法使用，你可以通过人工审核来取消原邮箱的认证信息，然后重新验证。</p>
					</div>
				</div>

			</div>
			
		</div>
	</div>
</div>
<script type="text/javascript" src="modules/iamHeadwaiter/myHeadwa/js/myHeadwaSet.js"></script>