<link rel="stylesheet" type="text/css" href="css/accountsetJBXX.css" />
<!--css 公共部份  侧边栏  头部-->
<link rel="stylesheet" type="text/css" href="css/em_Left_Sidebar.css" />
<!--公共部份  侧边栏  左-->
<script type="text/javascript" src="js/em_Left_Sidebar.js"></script>
<script src="js/upfile.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/vue.js"></script>

<body>
	<div id="accountsetJBXX">
		<!--大框框包裹类容-->
		<div class="bigBox">
			<!--内容  头部导航-->
			<div class="headNav"></div>
			<!--主体内容  雇主的各种信息  侧边栏-->
			<div class="con">
				<!--侧边栏-->
				<div class="sidebar"></div>
				<!--雇主的基本信息-->
				<div class="guzhuInfo">
					<!--挤20个像素-->
					<div class="padding">
						<h2>基本信息</h2>
						<p>品尚良将工作室填写真实的资料方便大家了解</p>
						<p>（请不要在资料里留电话，QQ，网址，邮箱等联系方式，会导致你的资料无法通过审核）</p>
						<!--介绍部分  资料详情-->
						<div class="data_info" id="headIMGT">
							<span>头像：</span>
							<img v-bind:src="accountInfo.headImg" />
							<div class="fileUp">
								<input id="file" type="file" v-on:change="upload">
							</div>
						</div>
						<div class="data_info">
							<span>昵称：</span>
							<input type="text" class="nickName" v-model="accountInfo.nickName" />
						</div>
						<!--<div class="data_info">
							<span>真是姓名：</span>
							<input type="text" value="{{accountInfo.bankRealName}}" />
						</div>-->
						<div class="data_info">
							<span>电子邮箱：</span><input type="text" v-model="accountInfo.email"/> 
							<!--<a href="#">修改</a>-->
						</div>
						<div class="data_info">
							<span>手机号码：</span><input type="text" v-model="accountInfo.phone"/> 
							<!--<a href="#">修改</a>-->
						</div>
						<!--<div class="data_info">
							<span>QQ：</span>
							<input type="text" placeholder="QQ号" v-model="accountInfo.nickName" />
						</div>-->
						<div class="data_info">
							<span>所在地：</span>
							<select class="select1" v-model="accountInfo.proviceName">
								<option selected="selected">{{accountInfo.proviceName}}</option>
								<option v-for="provshen in provshen" data-proid="{{provshen.id}}">{{provshen.fullname}}</option>
							</select>
							<select class="select2" v-model="accountInfo.areaName">
								<option selected="selected">{{accountInfo.areaName}}</option>
								<option  v-for="cityshi in cityshi"  data-citid="{{cityshi.id}}">{{cityshi.fullname}}</option>
							</select>
							<select class="select3" v-model="accountInfo.cityName">
								<option selected="selected">{{accountInfo.cityName}}</option>
								<option v-for="areaxian in areaxian" data-areid="{{areaxian.id}}">{{areaxian.fullname}}</option>
							</select>
						</div>
						<div class="data_info">
							<span>详细地址：</span>
							<input type="text" class="address" style="min-width: 300px;" v-model="accountInfo.address" />
						</div>
						<div class="data_info">
							<span>店铺简介：</span><textarea rows="5" cols="37"  v-model="accountInfo.empDesc" style="padding:10px ;"></textarea>
						</div>
						<div class="data_info">
							<button v-on:click="updata">保存</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/accountsetJBXX.js"></script>