<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>demo</title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/moxie.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/plupload.dev.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/qiniu.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="ssss">
			<div id="container">
				<a class="btn btn-default btn-lg " id="pickfiles" href="#">
					<i class="glyphicon glyphicon-plus"></i>
					<span>选择文件</span>
				</a>
			</div>
			<!--<div id="pickfiles">
				<input type="file" name="file" id="pickfiles" value="上传文件" v-on:change="uploader" />
			</div>-->
			<!--<input type="file" name="file" id="pickfiles" value="上传文件" v-on:change="uploader" />-->
		</div>
	</body>

</html>
<script src="../js/plupload.full.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/plupload.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/demo.js" type="text/javascript" charset="utf-8"></script>