/*初始化css样式  尽量不直接使用通配符*/
body, a, p, ul, dd, dl, dt, div, dl, li, ul , h1, h2, h3, h4, h5, h6, form, textarea, input{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
ol , li ,ul{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
}
img{
	border: 0px;
	display: block;
}
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
