<link rel="stylesheet" type="text/css" href="css/epOrder.css" />
<div class="box_out">
	<div class="in_box" id="epOrder">
		<div class="head">
			<span v-on:click="chooseStyle" data-stype="待确定验货">可接收订单<em></em></span>
			<span v-on:click="chooseStyle" data-stype="派单中">派单中<em></em></span>
			<span v-on:click="chooseStyle" data-stype="服务中">服务中<em></em></span>
			<span v-on:click="chooseStyle" data-stype="整个订单完成">已完成订单<em></em></span>
		</div>
		<div class="con">
			<div class="con_ul kjd show_order">
				<!--可接收订单-->
				<ul class="ul_head">
					<li>订单名称</li>
					<li>派单时间</li>
					<li>单价</li>
					<li>数量</li>
					<li>常规/加急</li>
					<!--<li>耗时</li>-->
					<li></li>
				</ul>
				<ul v-for="orderIfon in orderIfon">
					<div class="estimate" id="{{orderIfon.demandId}}">
						<div class="pingfen">
							<p>请对订单完成质量做出评价!(可以从时间,效果,风格...)</p>
						</div>
						<div class="pingfen">
							<span>评分:</span>
							<select class="selectPf">
								<option value="5">5分</option>
								<option value="4">4分</option>
								<option value="3">3分</option>
								<option value="2">2分</option>
								<option value="1">1分</option>
							</select>
							<!--<input type="text"/>-->
						</div>
						<div class="pingfen">
							<span>评论内容:</span><textarea placeholder="评论"></textarea>
						</div>
						<div class="suerpingfen">
							<span v-on:click="surePf" data-xqid="{{orderIfon.demandId}}">确定</span>
						</div>
					</div>
					<li>{{orderIfon.demandTitle}}</li>
					<li>{{orderIfon.beginTime}}</li>
					<li>{{orderIfon.imgPrice}}元</li>
					<li>{{orderIfon.imgNumber}}张</li>
					<li>{{orderIfon.state}}</li>
					<!--<li>{{orderIfon.end2Time}}</li>-->
					<li class="last_li">
						<a href="{{orderIfon.imgGasleyAddress}}"download="{{orderIfon.imgGasleyAddress}}"><span>下载</span></a>
						<span v-on:click="sureGit" data-fwsid="{{orderIfon.serviceId}}" data-xqid="{{orderIfon.demandId}}">确认收货</span>
					</li>
				</ul>
			</div>
			<div class="con_ul pdz">
				<!--派单中-->
				<ul class="ul_head">
					<li>订单名称</li>
					<li>派单时间</li>
					<li>单价</li>
					<li>数量</li>
					<li>常规/加急</li>
					<!--<li>耗时</li>-->
					<li></li>
				</ul>
				<ul v-for="orderIfon in orderIfon">
					<li>{{orderIfon.demandTitle}}</li>
					<li>{{orderIfon.beginTime}}</li>
					<li>{{orderIfon.imgPrice}}元</li>
					<li>{{orderIfon.imgNumber}}张</li>
					<li>{{orderIfon.state}}</li>
					<!--<li>{{orderIfon.end2Time}}</li>-->
					<li class="last_li"><span>派单中</span></li>
				</ul>
			</div>
			<div class="con_ul fwz">
				<!--服务中-->
				<ul class="ul_head">
					<li>订单名称</li>
					<li>派单时间</li>
					<li>单价</li>
					<li>数量</li>
					<li>常规/加急</li>
					<!--<li>剩余时间</li>-->
					<li></li>
				</ul>
				<ul v-for="orderIfon in orderIfon">
					<li>{{orderIfon.demandTitle}}</li>
					<li>{{orderIfon.beginTime}}</li>
					<li>{{orderIfon.imgPrice}}元</li>
					<li>{{orderIfon.imgNumber}}张</li>
					<li>{{orderIfon.state}}</li>
<!--					<li>{{orderIfon.end2Time}}</li>-->
					<li class="last_li"><span>服务中</span></li>
				</ul>
			</div>
			<div class="con_ul ywc">
				<!--已完成待评价-->
				<ul class="ul_head">
					<li>订单名称</li>
					<li>派单时间</li>
					<li>单价</li>
					<li>数量</li>
					<li>常规/加急</li>
					<!--<li>耗时</li>-->
					<li></li>
				</ul>
				<ul v-for="orderIfon in orderIfon">
					<li>{{orderIfon.demandTitle}}</li>
					<li>{{orderIfon.beginTime}}</li>
					<li>{{orderIfon.imgPrice}}元</li>
					<li>{{orderIfon.imgNumber}}张</li>
					<li>{{orderIfon.state}}</li>
					<!--<li>{{orderIfon.end2Time}}</li>-->
					<li class="last_li"><span>交易完成</span></li>
				</ul>
			</div>

		</div>
		<div class="nodata">
			没有订单数据！
		</div>
		<!--模态框-->
		<div>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<!--<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">图片预览</h4>
						</div>-->
						<div class="modal-body">
							<div class="img">
								<em class="glyphicon glyphicon-menu-left reduceOne" v-on:click="pagPreview" data-page="upPage"></em>
								<img v-bind:src="pagePreviewData.url" alt="服务商正在修图！" />
								<em class="glyphicon glyphicon-menu-right addOne" v-on:click="pagePreview" data-page="nextPage"></em>
							</div>
							<div class="carousel">

							</div>
						</div>
						<!--<div class="modal-footer">
							<button type="button" class="btn_bgt_bb_fcw_s">确定</button>
						</div>-->
					</div>
				</div>
			</div>
		</div>

		<!--遮罩层-->
		<div id="background" class="background" style="display: none; "></div>
		<div id="progressBar" class="progressBar" style="display: none; ">正在加载，休息一下...</div>
		<!--分页-->
		<div class="page">
			<span v-on:click="page" data-page="onePage">第一页</span>
			<span v-on:click="page" data-page="upPage">上一页</span>
			<em class="nowPage">{{nowPage}}/{{orderIfonPage.page.totalPage}}</em>
			<span v-on:click="page" data-page="nextPage">下一页</span>
			<span v-on:click="page" data-page="lastPage">最后一页</span>
			<span v-on:click="page" data-page="Jump" style="background: red;background: #2CBFBD;color:white;padding: 3px;border-radius: 3px;">跳转到</span>
			<samp>第</samp><input type="text" class="Jump" value="1" /><samp>页</samp>
		</div>
	</div>
	<!--帮助-->
	<div class="help">
		<div class="helpCon">
			<h2>帮助中心</h2>
			<h4>1.<a href="http://tjbbs-tjbbs.daoapp.io/?p=164"  target="view_window">订单管理</a></h4>
		</div>
	</div>
</div>
<script src="js/epOrder.js" type="text/javascript" charset="utf-8"></script>