a {
	text-decoration: none;
}

.padding h2 span {
	font-size: 13px;
	float: right;
}

.xinxi {
	width: 100%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	background: #E5E5E5;
	text-align: center;
	border-top: 1px solid #C6C6C6;
}

.xinxi input {
	width: 15px;
	margin-right: 5px;
}

.xinxi span {
	width: 200px;
}

.xinxi em {
	color: #989898;
}

.xinxi span,
.xinxi em,
.xinxi input {
	padding: 0px;
	margin: 0px;
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 13px;
}

.xinxi button {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 3px;
	border: 0px;
	background: #C6C6C6;
	padding: 0px 5px;
	color: #989898;
}