/*退款管理*/

.backMoney p {
	border-bottom: 1px dotted #e7e7e7;
	font-size: 12px;
	width: 100%;
	color: #868686;
}

.backMoney p.head {
	border-bottom: 1px solid #e7e7e7;
	font-size: 12px;
	width: 100%;
	background: #f0f0f0;
	color: black;
}

.backMoney p.head b.need,
.backMoney p.head b.returnM {
	color: #494949;
}

.backMoney p b {
	height: 55px;
	line-height: 55px;
	text-align: center;
	display: inline-block;
	font-weight: normal;
}

.backMoney p b.master {
	width: 11.7%;
}

.backMoney p b.need {
	width: 14.7%;
	color: #40b98e;
}

.backMoney p b.employer {
	width: 16%;
}

.backMoney p b.include {
	width: 12%;
}

.backMoney p b.returnM {
	width: 14.2%;
	color: #40b98e;
}

.backMoney p b.data {
	width: 13%;
}

.backMoney p b.returnS {
	width: 13%;
}