/*我的举报*/

.reportAdmin {
	display: block;
}

.reportAdmin h3 {
	font-weight: normal;
	padding: 0 0 1.5em 0;
}

.reportAdmin ul {
	border-bottom: solid 1px #dddddd;
	margin-bottom: 10px;
}

.reportAdmin ul li {
	display: inline-block;
	width: 150px;
	height: 55px;
	background: white;
	border-radius: 2px 2px 0 0;
	border: solid 1px #dddddd;
	text-align: center;
	line-height: 55px;
	position: relative;
	top: 1px;
}

.reportAdmin ul li.active {
	border-bottom: solid 1px white;
}

.reportAdmin p {
	border-bottom: 1px dotted #e7e7e7;
	font-size: 12px;
	width: 100%;
	color: #868686;
}

.reportAdmin p.head {
	border-bottom: 1px solid #e7e7e7;
	font-size: 12px;
	width: 100%;
	background: #f0f0f0;
	color: black;
}

.reportAdmin p.head b.need,
.reportAdmin p.head b.returnM {
	color: #494949;
}

.reportAdmin p b {
	height: 55px;
	line-height: 55px;
	text-align: center;
	display: inline-block;
	font-weight: normal;
}

.reportAdmin p b.master {
	width: 19.7%;
}

.reportAdmin p b.need {
	width: 17.7%;
	color: #40b98e;
}

.reportAdmin p b.employer {
	width: 19%;
}

.reportAdmin p b.include {
	width: 12%;
}

.reportAdmin p b.data {
	width: 18%;
}

.reportAdmin p b.returnS {
	width: 20%;
}