#inn{
	
}
.inn{
	width: 1200px; margin: 0 auto; padding: 4em 0 0 0;
}
.inn p b{
	display: inline-block; width: 98px; height: 32px; text-align: center; line-height: 34px; color: #8e8e8e; 
	background: white; border: solid 1px #64bdeb; font-weight: 500; margin: 0 0.6em;
}
.inn p b.active{
	color: white; background: #64bdeb; width: 100px; height: 32px;
}
.inn span{
	
}
.inn span>p{
	line-height: 30px; font-size: 18px; color: #8e8e8e; margin: 2.5em 0 0 0; display: inline-block;width: 100%;
}
.inn span ul{
	 width: 260px; text-align: center; background: #f6f6f6; display: inline-block; margin: 0 2.2em 0 0;
}
.inn span ul h4{
	line-height: 24px; color: ; font-size: 13px;
}
.inn span ul p{
	line-height: 20px; color: #040404; font-size: 10px; opacity: 0.5;
}
.inn span ul li{
	line-height: 28px; color: #898484; font-size: 10px; background: #e5e5e5; border-top: #dcdcdc; display: inline-block;
	width: 100%;
}
.inn span ul li b{
	margin: 0 0.8em;
}
.inn p.pay{
	width: 174px; height: 52px; line-height: 52px; text-align: center; margin: 7% 0 0 41%; display: inline-block;color: white; 
	background: #64bdeb;
}















