* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	font-family: "微软雅黑", "兰亭细黑 GBK", "黑体", arial;
	text-decoration: none;
}

#iconSe {}

.iconSe {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	color: #3ec1e2;
	padding: 4em 0 0 0;
}

.iconSe p {
	display: block;
	margin: 3% 0 0 0;
	font-weight: 400;
}

.iconSe p b {
	color: #c9c9c9;
	text-indent: 2em;
	display: inline-block;
	font-weight: 400;
}

#elect {}

.elect {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.elect p {
	margin: 1em 0 1.6em 0;
	display: block;
}

.elect h4 {
	margin: 0 0 1.8em 0;
	display: block;
}

.elect span ul {
	display: inline-block;
	margin: 0 0.8em 0 0.8em;
}

.elect span ul b {
	display: block;
	margin: 0.3em 0 0.3em 0;
}